.welcome-title {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  margin: 20px 0;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  padding: 10px 0;
}

/*  Left big slider  */
.custom-carousel {
  position: relative;
  width: 100%;
  height: 360px; 
}

.slider-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border-radius: 8px; */
  display: block;
}

/* controls */
.controls {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

.arrow-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 20px;
}

.dots {
  display: flex;
  gap: 6px;
}

.dot {
  width: 10px;
  height: 10px;
  background: #ccc;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.dot.active {
  background: #000;
}

/*  Right side image  */
.side-img {
  width: 100%;
  height: 360px;
  object-fit: cover;
  /* border-radius: 8px; */
}

/*  Responsive  */
@media (max-width: 991.98px) {
  .custom-carousel {
    height: 240px;
  }
  .side-img {
    height: 160px;
  }
  
}
